.landingPageContainer {
  width: 100%;
  height: 100vh;
  color: white;
  background: url("6600346_3296919.svg");
  background-size: cover;
}

.landingPageContainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.landingPageContainer nav .navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.landingPageContainer nav .navBarOptions {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.landingPageContainer .landingPageMainContent {
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
